{# @type camera: cam.camera.LocalCamera #}
<section class="cam-container local-camera">
    <h1>Local camera</h1>

    {% include 'pyspy/camera/stream_embed.html' %}

    <form method="post" action="{% url 'pyspy.views.control_local_cam' %}" class="controls-container">
        {% csrf_token %}
        {% if camera.isStreamReachable %}
            <span>is Streaming</span>
        {% endif %}

        {% if camera.isSurveillanceOn %}
            <span>is in Surveillance mode</span>
        {% endif %}
        <br>
        <ul class="controls clearfix">
            {% if camera.isStreamOn or camera.isSurveillanceOn %}
                <li>
                    <button class="button" type="submit" name="stop" value="1">
                        <span>Turn off</span>
                    </button>
                </li>
            {% endif %}
            {% if not camera.isStreamReachable %}
                <li>
                    <button class="button" type="submit" name="stream_start" value="1">
                        <span>Start stream</span>
                    </button>
                </li>
            {% endif %}
            {% if not camera.isSurveillanceOn %}
                <li>
                    <button class="button" type="submit" name="surveillance_start" value="1">
                        <span>Start surveillance</span>
                    </button>
                </li>
            {% endif %}
        </ul>
    </form>
</section>
