{# @type camera: cam.camera.Camera #}
<div class="video-container">
    {% if camera.isStreamReachable %}
        <embed type="application/x-vlc-plugin"
               pluginspage="http://www.videolan.org"
               width="100%"
               height="100%"
               target="{{ camera.getStreamUrl }}"
                ></embed>
        <a class="stream-link" href="{{ camera.getStreamUrl }}">
            Click here to open streams
        </a>
    {% else %}
        <p>Camera is offline!</p>
    {% endif %}
</div>