{% extends "pyspy/master.html" %}

{% block title %}
    PySpyX – Archive
{% endblock %}

{% block head %}
    <!-- TODO CSS -->
{% endblock %}

{% block content %}
    <div id="outer-wrapper">
        {% include "pyspy/header.html" %}
        <div class="inner-wrapper">
            {% if videos %}
                <ul class="video-list clearfix">
                    {% for video in videos %}
                        {# @type video: cam.videos.MotionVideo #}
                        <li>
                            <div class="video">
                                <video controls="controls">
                                    <source src="{{ video.getVideoUrl }}" type='video/mp4'/>
                                </video>
                            </div>
                            <span class="capture-date"><time>{{ video.getFormattedDate }}</time></span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Videos</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
