{% extends "pyspy/master.html" %}

{% block title %}
    PySpyX – Archive
{% endblock %}

{% block head %}
    <!-- TODO CSS -->
{% endblock %}

{% block content %}
    <div id="outer-wrapper">
        <header class="main-header">

        </header>
        <div class="inner-wrapper">
            {% if videos %}
                <ul class="video-list clearfix">
                    {% for video in videos %}
                        {# @type video: cam.videos.MotionVideo #}
                        <li>
                            {{ video.file }}
                            {{ video.getCaptureDate.isoformat }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Cameras</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
