{% extends "pyspy/master.html" %}

{% block title %}
    PySpyX – Archive
{% endblock %}

{% block head %}
    <!-- TODO CSS -->
    <link rel="stylesheet" href="/static/default.css" />
{% endblock %}

{% block content %}
    <div id="outer-wrapper">
        {% include "pyspy/header.html" %}
        <div class="inner-wrapper">
            {% if videos %}
                <ul class="video-list clearfix">
                    {% for video in videos %}
                        {# @type video: cam.videos.MotionVideo #}
                        <li>
                            <div class="video">
                                <h4>Video &laquo;{{ video.filename }}&raquo;</h4>
                                <video controls="controls">
                                    <source src="{{ video.getVideoUrl }}" type='video/mp4'/>
                                </video>
                            </div>
                            <span class="capture-date">Captured: <time>{{ video.getFormattedDate }}</time></span>
                        </li>
                    {% endfor %}
                </ul>
                <br>
                {% if total_pages > 1 %}
                    <nav class="paginate-nav">
                        <h3>Pages</h3>
                        <ol>
                            {% for i in page_range %}
                                <li{% if i == current_page %} class="current"{% endif %}><a
                                        href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                        </ol>
                    </nav>
                {% endif %}
            {% else %}
                <p>No Videos</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
