{% extends "pyspy/master.html" %}

{% block title %}
    PySpyX
{% endblock %}

{% block head %}
    <!-- TODO CSS -->
{% endblock %}

{% block content %}
    <div id="outer-wrapper">
        <header class="main-header">

        </header>
        <div class="inner-wrapper">
            {% if cameras %}
                <ul class="cam-list clearfix">
                    {% for camera in cameras %}
                        {# @type camera: cam.camera.Camera #}

                        <li{% if camera.isRemote %} class="big" {% endif %}>
                            {% if camera.isRemote %}
                                {% include "pyspy/camera/remote.html" %}
                            {% else %}
                                {% include "pyspy/camera/local.html" %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Cameras at the moment.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}